.container {
  width: 24rem;
  margin: 0 auto;
  text-align: center;
}
.container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.container button {
  color: #1f1f1f;
  background-color: #cfcfcf;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 1rem 0;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
}

.container h2 {
  font-size: 1.6rem;
  font-weight: 500;
}
