.container {
  width: 24rem;
  margin: 1rem auto;
  text-align: center;
}
.row {
  width: 24rem;
  display: grid;
  grid-template-columns: 8rem 8rem 8rem;
}
.cell {
  width: 8rem;
  height: 8rem;
  box-sizing: border-box;
  background-color: #f1f1f1;
  border: 1px solid black;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-size: 4rem;
  color: black;
}
