.container {
  width: 24rem;
  height: 12rem;
  margin: 2rem auto;
  background-color: #1f1f1f;
  color: #fff;
  text-align: center;
}

.button {
  color: #111;
  margin: 4rem auto;
  display: block;
  cursor: pointer;
  padding: 4px 8px;
  background-color: #f1f1f1;
}
