.container {
  width: 36rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin: 4rem auto;
  background-color: #3f4f5f;
}

.forecast {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}
.forecast p,
.forecast ul,
.forecast h4,
.forecast h3 {
  padding: 0;
  margin: 0;
}

.error {
  text-align: center;
  color: #b00;
  font-size: 1.2rem;
}

.cityName {
  text-transform: uppercase;
}

.today {
  border: 1px solid white;
  padding: 8px 0;
}

.forecast ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.forecast li {
  border: 1px solid white;
  display: inline-block;
  padding: 8px;
}
