.container {
  min-height: 100vh;
  background-color: #353434;
  text-align: center;
  padding-top: 8rem;
}
.button,
.content button {
  color: #000000;
  color-scheme: light dark;
  background: #ffffff;
  padding: 0.5rem 1.2rem;
  border-radius: 12px;
  transition: all 0.2s;
}
.button:hover,
.content button:hover {
  background: #d9d3d3;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
  color: #fff;
}
.content h1 {
  font-size: 1.6rem;
  font-weight: 600;
}
