.container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 2rem;
}

.container h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem 0;
}

.container ul li {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.container img {
  width: 280px;
  height: 200px;
}

.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.container button {
  background-color: transparent;
  border: none;
  font-size: 32px;
  cursor: pointer;
  margin: 2rem;
}

.container button:hover {
  text-decoration: underline;
}
