.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  width: 90%;
  margin: 1rem auto;
}
.shop h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}
